<div class="container">
    <p>
        The cineaste would like to pay tribute to the pioneering Godzilla fan websites that provided him with vital useless information during his formative years.
    </p>
    <p>
        <ul>
            <li>Gojira Stomp</li>
            <li>Tokyo Monsters (James Ballard, if you're reading this, I haven't forgiven you for that awful April Fools joke you guys played on us)</li>
            <li>Kaiju HQ (I miss the Monster Island Funnies...)</li>
            <li><a href="http://www.godzillatemple.com/">Barry's Temple of Godzilla</a> (This is still up and it looks exactly the same as it did 15 years ago)</li>
            <li><a href="https://www.tohokingdom.com/">Toho Kingdom</a> (The pinnacle of useless information)</li>
            <li><a href="http://www.stomptokyo.com/">Stomp Tokyo</a> (Some of the funniest and most accurate film reviews on the web)</li>
            <li><a href="http://www.angelfire.com/movies/GodzillaTower/">Godzilla Tower</a></li>
            <li><a href="http://www.kaijuphile.com/rodansroost/">Rodan's Roost</a></li>
            <li>Monster Zero News (now <a href="http://www.scifijapan.com/articles/">SciFi Japan</a>)</li>
            <li><a href="http://www.godzillamonstermusic.com/godzilla.htm">Godzilla and Other Monster Music</a> (Because the cineaste is also a rabid audiophile)</li>
        </ul>
    </p>
    <p>
        Other websites that were invaluable sources of useless and unuseless information while conducting research for this website include but are not limited to:
    </p>
    <p>
        <ul>
            <li><a href="http://www.jmdb.ne.jp/">The Japanese Movie Database</a></li>
            <li><a href="http://www.toho.co.jp/library/system/index.php">Toho's Official Film Library</a></li>
            <li><a href="https://www.kadokawa-pictures.jp">Kadokawa's Official Film Library</a> (including old Daiei films in its portfolio)</li>
            <li><a href="http://www.midnighteye.com/">Midnight Eye</a> (Defunct, but their archives are still up)</li>
            <li><a href="https://vantagepointinterviews.com/">Vantage Point Interviews</a> (especially for their <a href="https://vantagepointinterviews.com/2015/08/25/susan-watson-speaks-actress-linda-miller-remembers-king-kong-escapes/">interview with Linda Miller</a>)</li>
            <li><a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">Japanese Wikipedia</a> (because I can be lazy in <b>two</b> languages)</li>
            <li><a href="http://www.kaijucast.com">KaijuCast</a> (especially their documentary <a href="https://www.youtube.com/watch?v=zVj-vNukfV8">Hail to the King</a>)</li>
        </ul>
    </p>
    <p>
        It would be remiss of the cineaste at this point not to express thanks to the creators of <i>Mystery Science Theater 3000</i> for exposing me from the earliest age to Godzilla and Gamera, albeit in a format the cineaste was too young to appreciate at the time. Keep circulating the tapes.
    </p>
    <p>
        Although there are several books written about Japanese films and about Japanese science fiction films specifically, the cineaste benefitted greatly from two books in particular: <i>The Official Godzilla Compendium</i> by J.D. Lees and Marc Cerasini, and <i>Monsters Are Attacking Tokyo!</i> by Stuart Galbraith IV.
    </p>
    <p>
        The cineaste would like to call out a number of studios and media labels for their work in making the vast majority of my film catalog available in the United States:
    </p>
    <p>
        <ul>
            <li>Columbia/TriStar/Sony Pictures (Heisei and Millennium Godzilla films)</li>
            <li>Tokyo Shock/Media Blasters (Classic Toho Sci-Fi, plus a bunch of edgy stuff)</li>
            <li>Classic Media (Certain Showa Godzilla films, especially their second go-round with terrific special features, now owned by DreamWorks)</li>
            <li><a href="https://www.criterion.com">The Criterion Collection</a> (The original Godzilla film, Kurosawa, the Samurai Trilogy, a few others...)</li>
            <li><a href="https://www.viz.com">Viz Pictures</a>/<a href="http://www.newpeopleent.com">New People</a> (<i>K-20</i>, <i>20th Century Boys</i>, <i>Death Note</i>, <i>Gantz</i>, although their output has kinda dried up...)</li>
            <li><a href="https://www.funimation.com">Funimation</a> (<i>Goemon</i>, <i>Attack on Titan</i>, and all the anime you can eat)</li>
            <li>ADV Films (Shusuke Kaneko's <i>Gamera</i> films, <i>Pyrokinesis</i>, <i>Parasite Eve</i>, they're now <a href="http://www.section23films.com">Section23</a> and they mostly deal with anime)</li>
            <li><a href="https://www.millcreekent.com">Mill Creek Entertainment</a> (All the Gamera films on Blu-Ray, plus the <i>Daimajin</i> films)</li>
            <li>Kraken Releasing (Some choice Godzilla films on Blu-Ray, but just the international versions, a subsidiary of <a href="http://www.section23films.com">Section23</a>)</li>
            <li><a href="https://www.shoutfactory.com">Shout Factory</a> (Had the first go at the Showa Gamera films before they were picked up by Mill Creek, had a brief window when they held the rights to both Gamera <b>and</b> <i>MST3K</i> so we got a great <i>MST3K vs. Gamera</i> box set)</li>
            <li><a href="">Arrow Films</a> (Blu-Ray sets for <i>One Missed Call</i>, <i>Ring</i>, and <i>Bloodthirsty Trilogy</i> series, plus a giant Gamera box set that went out of print <i>real</i> fast...)</li>
        </ul>
    </p>
    <p>
        The cineaste is indebted to <a href="https://www.yesasia.com/us/en/home.html">YesAsia</a> for providing genuine, legitimate Japanese products (especially of recent releases) to North American consumers. Also eBay, but be careful: buying foreign films from eBay is something of a lottery.
    </p>
</div>
