<div class="container">
    <p>
        To be notified of updates as they occur, please consider following our <a href="https://twitter.com/gojira_cineaste">Twitter feed</a>. If you have a fun idea for a Twitter poll relevant to the content on the website (favorite movie out of a series, better director or actor, etc.), please mention @gojira_cineaste with your idea. You can also mention @gojira_cineaste to ask questions or point out issues with the site, although the cineaste is fully prepared to ignore comments that are not helpful, spam, political, etc. Serial offenders will be blocked with extreme prejudice (the Twitter feed is part of the hobby and hobbies should be fun, dammit).
    </p>
</div>
