<div class="container">
    <p>
        <i>The Godzilla Cineaste</i> began as a hobby project ca. 2004. The cineaste himself was in high school at the time and was teaching himself HTML and CSS on the fly. The website's purpose was to serve as a repository for all the useless information the cineaste had collected about the Godzilla film series over a lifetime of being an avid fan. The project was in development for roughly 2 years under the title <i>Godzilla Universes</i> before being hosted under the title <i>The Godzilla Database</i>. Every individual page was hand-coded because the cineaste hadn't taught himself about web frameworks, databases or server-side processing yet. Although when he did his little brain promptly exploded and the website (which had been renamed <i>The Godzilla Cineaste</i> to match the domain name his dad purchased) was taken down pending a rewrite. The cineaste did not think much of this because the website was woefully incomplete when it was hosted anyway, but after 4 years of an "under construction" banner squatting on his landing page he began to feel pretty bad about it. Attempts were made to rewrite the page using Django and Rails but due to other demands on the cineaste's time (such as his real life grown up job and his then-girlfriend-now-spouse), these efforts never became fruitful.
    </p>
    <p>
        Development of the current iteration of <i>The Godzilla Cineaste</i> began in earnest in 2016 using the Play framework with a Neo4j backend. This was later swapped out wholesale for the Phoenix framework with a PostgreSQL backend because relational databases rock and so does Elixir (and also partly to spite certain reactive manifesto fanatics the cineaste happened to be working with at the time). This is the version of the site that relaunched in the fall of 2016, and although it was not complete by any means (there's a ton of information to collect and format for display), it looked pretty and it didn't have any holes or broken links like the last version did, and that suited the cineaste just fine. In summer of 2018 the cineaste embarked on version 2.0 of the site, which mainly entailed under-the-hood changes to the code coupled with some modest cosmetic improvements (especially on the mobile version of the site), and was published about a year later in spring of 2019.
    </p>
    <p>
        For those that are curious and tech-savvy, this website uses the <a href="http://phoenixframework.org/">Phoenix</a> framework and <a href="http://elixir-lang.github.io/">Elixir</a> to serve content, and is hosted on <a href="https://aws.amazon.com/lightsail/">Amazon LightSail</a> via <a href="https://www.docker.com">Docker</a>. The source code is available on <a href="https://gitlab.com/jtortorelli/blarg">GitLab</a>.
    </p>
    <p>
        The cineaste works as a software developer and avid movie collector living in the greater Nashville area with his small (but growing) family.
    </p>
</div>
