<!-- Mobile View -->
<div class="d-block d-sm-none">
    <div class="col-md text-center">
        <p>
            <strong>Top Billed Cast</strong>
        </p>
    </div>
    <div class="col-md m-auto">
        <table class="table table-cineaste">
            <%= for %{actor: actor, characters: characters} <- @view.top_billed_cast do %>
                <tr>
                    <td>
                        <div class="float-left">
                            <%= with role_thumbs <- build_cast_thumbs(actor, characters, @view.path) do %>
                                <%= for {_role, thumb} <- role_thumbs do %>
                                    <img src="<%= thumb %>" class="people-index-thumb rounded"/>
                                <% end %>
                            <% end %>
                        </div>
                        <div style="overflow: hidden;">
                            <%= raw link_showcased_person(actor) %><br/>
                            <span class="text-muted"><%= display_roles_sm(characters) %></span>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
    <%= if @view.other_cast do %>
        <div class="col-md text-center">
            <p>
                <strong>Rest of Cast Listed Alphabetically</strong>
            </p>
        </div>
        <div class="col-md m-auto">
            <table class="table table-cineaste">
                <%= for %{actor: actor, characters: characters} <- @view.other_cast do %>
                    <tr>
                        <td>
                            <div class="float-left">
                                <%= with role_thumbs <- build_cast_thumbs(actor, characters, @view.path) do %>
                                    <%= for {_role, thumb} <- role_thumbs do %>
                                        <img src="<%= thumb %>" class="people-index-thumb rounded"/>
                                    <% end %>
                                <% end %>
                            </div>
                            <div style="overflow: hidden;">
                                <%= raw link_showcased_person(actor) %><br/>
                                <span class="text-muted"><%= display_roles_sm(characters) %></span>

                            </div>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    <% end %>
</div>

<!-- Desktop View -->
<div class="container d-none d-sm-block">
        <h6>Top Billed Cast</h6>
        <div class="row cast-thumb-grid">
        <%= for %{actor: actor, characters: characters} <- @view.top_billed_cast do %>
            <div class="cast-thumbs text-center" style="display:block;">
                <%= with role_thumbs <- build_cast_thumbs(actor, characters, @view.path) do %>
                    <%= for {role, thumb} <- role_thumbs do %>
                        <div class="text-center cast-bounded float-left">
                            <img class="rounded-circle shadowed people-index-desktop my-1" src="<%= thumb %>"/>
                            <br/>
                            <span class="text-muted"><%= role %></span>
                        </div>
                    <% end %>
                <% end %>
                <div style="clear:both">
                    <span class="font-weight-bold"><%= raw link_showcased_person(actor) %></span>
                </div>
            </div>
        <% end %>
    </div>
    <%= if @view.other_cast do %>
        <h6>Rest of Cast Listed Alphabetically</h6>
        <div class="row cast-thumb-grid">
            <%= for %{actor: actor, characters: characters} <- @view.other_cast do %>
                <div class="cast-thumbs text-center" style="display:block;">
                    <%= with role_thumbs <- build_cast_thumbs(actor, characters, @view.path) do %>
                        <%= for {role, thumb} <- role_thumbs do %>
                            <div class="text-center cast-bounded float-left">
                                <img class="rounded-circle shadowed people-index-desktop my-1" src="<%= thumb %>"/>
                                <br/>
                                <span class="text-muted"><%= role %></span>
                            </div>
                        <% end %>
                    <% end %>
                    <div style="clear:both">
                        <span class="font-weight-bold"><%= raw link_showcased_person(actor) %></span>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
