<!-- Desktop -->
<div class="d-none d-sm-block container">
    <ul class="p-1 mb-0" style="list-style-type: none;">
        <%= for role <- @roles do %>
            <li>
                <%= display_linked_film(role.film) %><%= display_characters(role.characters) %>
            </li>
        <% end %>
    </ul>
</div>

<!-- Mobile -->
<div class="d-block d-sm-none">
    <ul class="p-1 mb-0" style="list-style-type: none;">
        <%= for role <- @roles do %>
            <li>
                <%= display_linked_film(role.film) %><br/><small><%= display_characters_mobile(role.characters) %></small>
            </li>
        <% end %>
    </ul>
</div>
