<div class="container">
    <%= for competitive_award <- @view.competitive_awards do %>
        <div class="row award-row">
            <section class="mb-2">
                <h6 class="awards-title"><%= competitive_award.name %></h6>
                <ul class="mb-0" style="list-style-type: none;">
                    <li class="award-winner">&#9733;
                        <span class="font-weight-bold">
                            <%= display_recipients(competitive_award.winner.recipients) %>
                        </span>
                        <span class="font-weight-bold font-italic">
                            <%= display_films(competitive_award.winner.films) %>
                        </span>
                    </li>
                    <%= for nominee <- competitive_award.nominees do %>
                        <li>
                            <%= display_recipients(nominee.recipients) %>
                            <span class="font-italic">
                                <%= display_films(nominee.films) %>

                            </span>
                        </li>
                    <% end %>
                </ul>
            </section>
        </div>
    <% end %>
</div>