<div class="container">
    <div class="row award-row">
        <section class="mb-2">
            <ul class="p1 mb-0" style="list-style-type: none;">
                <%= for nominee <- @view.in_memoriam do %>
                    <li>
                        <%= display_recipients(nominee.recipients) %>
                        <span class="text-muted">
                            <%= nominee.notes %>
                        </span>
                    </li>
                <% end %>
            </ul>
        </section>
    </div>
</div>