<div class="container">
    <div class="row">
        <div class="d-block d-sm-none col text-center">
            <h2>Awards</h2>
        </div>
        <div class="d-none d-sm-block">
            <h2>Awards</h2>
        </div>
    </div>
</div>
<%= render_awards_tabbed_content() %>