<div class="container">
    <div class="row">
        <div class="d-block d-sm-none col text-center">
            <h6><%= @ceremony.ordinal %> Japan Academy Prizes</h6>
        </div>
        <div class="d-none d-sm-block">
            <h2><%= @ceremony.ordinal %> Japan Academy Prizes</h2>
        </div>
    </div>
    <div class="row">
        <div class="d-block d-sm-none col text-center">
            <p class="text-muted">Ceremony Date: <%= display_ceremony_date(@ceremony.date) %>, Hosted By: <%= Enum.join(@ceremony.hosts, ", ") %></p>
        </div>
        <div class="d-none d-sm-block">
            <p class="text-muted">Ceremony Date: <%= display_ceremony_date(@ceremony.date) %>, Hosted By: <%= Enum.join(@ceremony.hosts, ", ") %></p>
        </div>
    </div>
</div>
<%= render_ceremony_tabbed_content(@ceremony) %>