<div class="container">
    <ul class="p1 mb-0" style="list-style-type: none;">
        <%= for award <- @awards do %>
            <li>
                <a class="film-show-link-xs" href="/awards/japan-academy-prize/<%= award.date.year %>">
                    <span class="font-weight-bold"><%= award.ordinal %> (<%= award.date.year %>)</span> Best Picture: <span class="font-italic"><%= get_japan_academy_prize_best_picture_winner(award) %></span>
                </a>
            </li>
        <% end %>
    </ul>
</div>