<div class="container">
    <%= for non_competitive_award <- @view.non_competitive_awards do %>
        <div class="row award-row">
            <section class="mb-2">
                <h6 class="awards-title"><%= non_competitive_award.name %></h6>
                <ul class="p1 mb-0" style="list-style-type: none;">
                    <%= for nominee <- non_competitive_award.nominees do %>
                        <li>
                            <%= raw display_non_competitive_recipients_and_films(nominee) %>
                            <span class="text-muted">
                                <%= nominee.notes %>
                            </span>
                        </li>
                    <% end %>
                </ul>
            </section>
        </div>
    <% end %>
</div>